<aside id="sidebar" class="collapsed">
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="#">Меню</a>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="/delivery/list" class="sidebar-link">
                    <i class="fa-solid fa-car pe-2"></i>
                    Доставки
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Статистика
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/schedule/list" class="sidebar-link">
                    <i class="fa-regular fa-calendar-days pe-2"></i>
                    Графік
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/expense/list" class="sidebar-link">
                    <i class="fa-solid fa-hryvnia-sign pe-2"></i>
                    Витрати
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#options"
                   aria-expanded="false" aria-controls="options">
                    <i class="fa-solid fa-wrench pe-2"></i>
                    Налаштування
                </a>
                <ul id="options" class="sidebar-dropdown list-unstyled collapsed collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/employee/list" class="sidebar-link"> · Кур'єри</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/client/list" class="sidebar-link"> · Заклади</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/locality/list" class="sidebar-link"> · Населені пункти</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/street/list" class="sidebar-link"> · Вулиці</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/salary/list" class="sidebar-link"> · Зарплати</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/price/list" class="sidebar-link"> · Ціни</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>